%h1 User Groups Manager
.pull-right
  = link_to 'New User Group', new_groups_manager_path
%table.table.table-stripped.table-bordered
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    - @user_groups.each do |user_group|
      %tr
        %td= user_group.name
        %td
          =link_to 'Show users', show_users_path(id: user_group.id)
