%h1 Users assigned
.pull-right
  = react_component 'AssignUserContainer'
%table.table.table-stripped.table-bordered
  %thead
    %tr
      %th Name
      %th Email
      %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td
          = link_to 'Remove'
