- if user_signed_in? && current_user.fully_registered? && current_user.owner_of?(current_org)
  = link_to(org_invite_path(org_id: current_org), class: 'nav-item nav-link') do
    %i.fa.fa-fw.fa-envelope
    New invite 
