.col-sm-1.col-md-1.hidden-xs-down
  %ul.nav.flex-column
    %li.nav-item
      = render 'shared/organizations_dropdown'
    %li.nav-item
      = link_to 'Sites', org_sites_path(current_org), class: 'nav-item nav-link'
    %li.nav-item
    = render 'shared/invites'
    %li.nav-item
      = link_to('Sign out', destroy_user_session_path, class: 'nav-item nav-link')
