// Place all the styles related to the registration_flow controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.

.login-btn {
  border-radius: 0.2em;
  border: none;
  box-sizing: border-box;
  color: #FFF;
  font-size: 16px;
  line-height: 34px;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  position: relative;
  text-align: left;
  white-space: nowrap;

  &:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }

  &:focus, &:hover {
    color: #fff;
    outline: none;
  }

  &:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
}

.login-btn--google {
  background: #DD4B39;

  &:before {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
    border-right: #BB3F30 1px solid;
  }

  &:hover, &:focus {
    background: #d82c16;
    text-decoration: none;
  }
}

.login-btn--github {
  background: #98908f;

  &:before {
    background: url('https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-256.png') 6px 6px no-repeat;
    background-size: 22px;
    border-right: #736b6a 1px solid;
  }

  &:hover, &:focus {
    background: #777272;
    text-decoration: none;
  }
}
